@page "/administration"
@using SyncfusionHelpDesk.Data;
@inherits OwningComponentBase<SyncfusionHelpDeskService>

<AuthorizeView Roles="Administrators">
    <div>
        <div id="target" style="height: 500px;">
            <EjsGrid ID="Grid"
                     @ref="gridObj"
                     DataSource="@colHelpDeskTickets"
                     AllowPaging="true"
                     AllowSorting="true"
                     AllowResizing="true"
                     AllowReordering="true">
                <GridPageSettings PageSize="5"></GridPageSettings>
                <GridEvents CommandClicked="OnCommandClicked"
                            TValue="HelpDeskTickets">
                </GridEvents>
                <GridColumns>
                    <GridColumn HeaderText="" TextAlign="TextAlign.Left" Width="150">
                        <GridCommandColumns>
                            <GridCommandColumn Type=CommandButtonType.Edit
                                               ButtonOption="@(new CommandButtonOptions()
                                                               { Content = "Edit" })">
                            </GridCommandColumn>
                            <GridCommandColumn Type=CommandButtonType.Delete
                                               ButtonOption="@(new CommandButtonOptions()
                                                               { Content = "Delete" })">
                            </GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                    <GridColumn IsPrimaryKey="true" Field=@nameof(HelpDeskTickets.Id)
                                HeaderText="ID #" TextAlign="@TextAlign.Left" Width="70"></GridColumn>
                    <GridColumn Field=@nameof(HelpDeskTickets.TicketStatus)
                                HeaderText="Status" TextAlign="@TextAlign.Left" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(HelpDeskTickets.TicketDate)
                                HeaderText="Date" TextAlign="@TextAlign.Left" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(HelpDeskTickets.TicketDescription)
                                HeaderText="Description" TextAlign="@TextAlign.Left" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(HelpDeskTickets.TicketRequesterEmail)
                                HeaderText="Requester" TextAlign="@TextAlign.Left" Width="150"></GridColumn>
                </GridColumns>
            </EjsGrid>
        </div>
    </div>
    <EjsDialog Target="#target" Width="100px" Height="130px" IsModal="true" ShowCloseIcon="false"
               @bind-Visible="DeleteRecordConfirmVisibility">
        <DialogTemplates>
            <Header> DELETE RECORD ? </Header>
            <Content>
                <div class="button-container">
                    <button type="submit"
                            class="e-btn e-normal e-primary"
                            @onclick="ConfirmDeleteYes">
                        Yes
                    </button>
                    <button type="submit"
                            class="e-btn e-normal"
                            @onclick="ConfirmDeleteNo">
                        No
                    </button>
                </div>
            </Content>
        </DialogTemplates>
    </EjsDialog>
    <EjsDialog Target="#target" Width="500px" Height="500px" IsModal="true" ShowCloseIcon="true"
               @bind-Visible="EditDialogVisibility">
        <DialogTemplates>
            <Header> EDIT TICKET </Header>
            <Content><EditTicket SelectedTicket="@SelectedTicket" /></Content>
            <FooterTemplate>
                <div class="button-container">
                    <button type="submit"
                            class="e-btn e-normal e-primary"
                            @onclick="SaveTicket">
                        Save
                    </button>
                </div>
            </FooterTemplate>
        </DialogTemplates>
    </EjsDialog>
</AuthorizeView>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    EjsGrid<HelpDeskTickets> gridObj;
    public IQueryable<HelpDeskTickets> colHelpDeskTickets { get; set; }
    private HelpDeskTickets SelectedTicket = new HelpDeskTickets();
    public bool EditDialogVisibility { get; set; } = false;
    public bool DeleteRecordConfirmVisibility { get; set; } = false;

    protected override void OnInitialized()
    {
        colHelpDeskTickets = @Service.GetHelpDeskTickets();
    }

    public async void OnCommandClicked(CommandClickEventArgs<HelpDeskTickets> args)
    {
        SelectedTicket = await @Service.GetHelpDeskTicketAsync(args.RowData.TicketGuid);

        if (args.CommandColumn.ButtonOption.Content == "Edit")
        {
            this.EditDialogVisibility = true;
            StateHasChanged();
        }

        if (args.CommandColumn.ButtonOption.Content == "Delete")
        {
            // Open Delete confirmation dialog
            this.DeleteRecordConfirmVisibility = true;
            StateHasChanged();
        }
    }

    public async Task SaveTicket()
    {
        var result = await @Service.UpdateTicketAsync(SelectedTicket);
        this.EditDialogVisibility = false;
        gridObj.Refresh();
    }

    public async void ConfirmDeleteYes()
    {
        var result = await @Service.DeleteHelpDeskTicketsAsync(SelectedTicket);
        this.DeleteRecordConfirmVisibility = false;
        gridObj.Refresh();
    }

    public void ConfirmDeleteNo()
    {
        this.DeleteRecordConfirmVisibility = false;
    }
}